<html> 
    <head> 
        <title><%=title%></title>
        <meta charset="UTF-8">
    </head>

    <body> 
        ejs 파일로 만든 html<br>
        <!-- <img src="/public/img/peach.jpg"> -->

        <% for(var i =0; i< data.length; i++) { %>
            <div> 안녕<%=data[i]%> </div>
        <% } %>

        <div style = "color:red;"><%="<span style='color:blue'>문자열</span>"%>인데요</div>
        <div style = "color:red;"><%-"<span style='color:blue'>문자열</span>"%>인데요</div>

        <%-include("test.ejs")%> 

        

        
        
    </body>
</html>